/* You can add global styles to this file, and also import other style files */
body {
    background:
      radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
  }

  h1{
    color:white;
    text-align:center;
    margin-top:1em;
  }

  .card {
    text-align: center;
    border-radius: 5px;
  }